* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/************ DISPOSIZIONE DEGLI ELEMENTI NELLA PAGINA ************/
#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text {
  /*to manage text on canvas and webgl */
  background-color: transparent;
  top: 2%;
  /* needed because we setcanvas bg color to white */
  position: absolute;
  box-align: center;
  z-index: 2;
}

#mainCanvas {
  background: rgb(179, 146, 209);
  z-index: 1;
  height: 100vh;
  /*NECESSARIO per il resize della canvas quando faccio resize della window;*/
  width: 100vw;
}

#uiContainer {
  position: absolute;
  top: 2%;
  right: 2.5%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 10px 10px 10px 10px;
  background-color: rgb(210, 171, 247);
  border: 2px outset rgb(71, 15, 117);
}

#touchCanvasContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#touchCanvas1 {
  position: absolute;
  left: 4%;
  bottom: 15%;
  z-index: 4;
}

#touchCanvas2 {
  position: absolute;
  right: 4%;
  bottom: 15%;
  z-index: 4;
}

#collisionCanvasContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#collisionCanvas {
  position: absolute;
  right: 4%;
  bottom: 15%;
  z-index: 2;
}


/************ CUSTOM RADIO-BUTTON, SLIDER E CHECK BOX************/

.list {
  flex: 0 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item {
  position: relative;
}

.list__item:hover label {
  color: rgb(71, 15, 117);
}

.list__item:hover .label::before {
  border: 7px solid rgb(71, 15, 117);
  margin-right: 20px;
}

.radio-btn {
  position: absolute;
  visibility: hidden;
}

.radio-btn:checked~.label {
  color: rgb(71, 15, 117);
}

.radio-btn:checked~.label::before {
  margin-right: 20px;
  border: 7px solid rgb(71, 15, 117);
  background: #F8F7FF;
}

.label {
  display: flex;
  
  align-items: center;
  padding: 5px;
  color: #F8F7FF;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s linear;
}

.label::before {
  display: block;
  content: '';
  border: 7px solid #F8F7FF;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  transition: all .25s linear;
}

.titolo{
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  color:rgb(71, 15, 117);
  font-weight: bold;
  text-decoration: underline;
}

.sliderTitle {
  display: flex;
  align-items: center;
  margin: 4px 5%;
  color: rgb(71, 15, 117);
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  
}

.button {
  border: none;
  color: white;
  padding: 10px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white;
  color: rgb(71, 15, 117);
  border: 2px solid rgb(71, 15, 117);
}

.button:hover {
  background-color: rgb(71, 15, 117);
  color: white;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 20px;
  margin: 4px 5%;
  display: inline-block;
  background: #fffefe;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(71, 15, 117);
  cursor: pointer;
}

/* The container */
.lightMoveOpt {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 10px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.lightMoveOpt input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid rgb(71, 15, 117);
}



/* On mouse-over, add a grey background color */
.lightMoveOpt:hover input ~ .checkmark {
  background-color: rgb(71, 15, 117);
}

/* When the checkbox is checked, add a blue background */
.lightMoveOpt input:checked ~ .checkmark {
  background-color: rgb(71, 15, 117);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.lightMoveOpt input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.lightMoveOpt .checkmark:after {
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}